@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
  

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  *
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #0c1022;
  }
  
  .box {
      position: relative;
      width: 300px;
      height: 400px;
      background: (0,0,0,0.75);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  .box::after
  {
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      background-image: conic-gradient(transparent,
      transparent,transparent,#d400d4);
      animation: animate 4s linear infinite;
    animation-delay: -2s;
  }
  
  .box::before
  {
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      background-image: conic-gradient(transparent,
      transparent,transparent,#00ccff);
      animation: animate 4s linear infinite;
  }
  
  @keyframes animate
  {
      0%
      {
          transform: rotate(0deg);
      }
      100%
      {
          transform: rotate(360deg);
      }
  }
  
  .box span
  {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background:#0c1022;
    z-index: 1;
  }
  
  .box h2
  {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 4em;
  }